<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gratulacje !</title>
</head>
<style>
    body {
        background-image: url("https://wallpapercave.com/wp/lpPA9Ro.jpg");
        background-repeat: no-repeat;
        background-position: -10px -150px;
    }
</style>
<body>
<div style="text-align: center;vertical-align: center;padding-top:150px;">
    <h1 style="color:#b2f441";>Dobra odpowiedź!</h1>
<form action="/play">
    <button type="submit" name="play"><h3>Następne pytanie</h3></button>
</form>
</div>
</body>
</html>